.PokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 140vh;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2196F3;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & + button {
    margin-left: 10px;
  }
}