input {
  text-align: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 90%;
  margin-bottom: 30px;

  &::placeholder {
    color: #999;
  }

  &:focus {
    border-color: #2196F3;
    box-shadow: 0 0 3px rgba(33, 150, 243, 0.5);
  }
}
