$type-colors: (
  normal: #A8A77A,
  poison: black,
  fire: #EE8130,
  water: #6390F0,
  grass: rgb(95, 215, 95),
  ice: #6390F0,
  fighting: #C03028,
  flying: #A890F0,
  ground: #E0C068,
  rock: #B8A038,
  bug: #A8B820,
  ghost: #705898,
  steel: #B8B8D0,
  electric: #F8D030,
  psychic: #F85888,
  dragon: #7038F8,
  dark: #705848,
  fairy: #EE99AC,
  unknown: #68A090,
  shadow: #705898
);

// Define common styles for the type badges
@mixin type-badge {
  display: block;
  padding: 4px 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-weight: bold;
  max-width: 200px;
}

@each $type, $color in $type-colors {
  .type-#{$type} {
    @include type-badge;
    background-color: $color;
    color: #fff;
  }
}

.pokemon-card {
  text-align: center;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  display: inline-block;

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .pokemon-image {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .stats-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    li {
      margin-bottom: 5px;
    }
  }
}